<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Todo-List</title>
</head>
<body>
    
    <p><%= date.day %>-<%= date.month %>-<%=date.year %></p> 
    <% for(let todo of allTodos){ %>
        <ul> <%= todo %> </ul>
    <% } %>
    
    <form action="/" method="post">
        <input type="text" name="newItem" placeholder="Add New Item"/>
        <input type="Submit" name="addButton" value="Add"/>
    </form>


</body>
</html>